<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
            <a href="#" class="navbar-brand d-lg-none">
                <img src="3" alt="Company Logo" class="img-fluid">
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/Home/Index" class="nav-item nav-link">HOME</a>
                    <a href="/Home/Services" class="nav-item nav-link">SERVICES</a>
                    <a href="/Home/Technology" class="nav-item nav-link">TECHNOLOGY</a>
                    <a href="/Home/Industries" class="nav-item nav-link">INDUSTRIES</a>
                    <a href="/Home/Company" class="nav-item nav-link">COMPANY</a>
                    <a href="/Home/Privacy" class="nav-item nav-link">PRIVACY POLICY</a>
                  
                </div>
                <div class="ms-3 d-none d-lg-block">
                    <a href="/Home/Contact" class="btn btn-primary rounded-pill py-2 px-3">CONTACT US</a>
                </div>
            </div>
        </nav>
    </div>
</div>