<div class="container-fluid bg-primary text-white d-none d-lg-flex">
    <div class="container py-3">
        <div class="d-flex align-items-center">
            <a href="">
                <img src="~/images/logo.png" alt="Enrich Coder" height="50">
            </a>
            <div class="ms-auto d-flex align-items-center">
                <small class="ms-4" style="font-size: 13px"><i class="fa fa-map-marker-alt me-1"></i>Brookly, New York</small>
                <small class="ms-4" style="font-size: 13px"><i class="fa fa-envelope me-1"></i> <a class="custom_contact" href=""> info@enrichcoder.com</a></small>
                <small class="ms-4" style="font-size: 13px"><i class="fa fa-phone-alt me-1"></i><a class="custom_contact" href=""> +19299917974 </a></small>
                <div class="ms-3 d-flex">
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://www.facebook.com/enrichcoder/" target="https://www.facebook.com/enrichcoder/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="http://twitter.com/" target="http://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    @* <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://www.instagram.com/" target="https://www.instagram.com/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> *@
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://www.instagram.com/" target="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>