@{
    ViewData["Title"] = "Weblink Communication Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Company</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Us Start -->
<div class="container-xxl pt-5 pb-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-5">About Us</h1>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-4">
                <div class="col-md-6 fade-in">
                    <img src="https://enrichcoder.com/wp-content/uploads/2022/11/Our-Service.png"
                         class="img-fluid welcome-img"
                         alt="Enrich Coder Welcome Image">
                </div>

                <div class="col-md-6 fade-in">
                    <div class="content-wrapper">
                        <h1>Welcome To Enrich Coder</h1>
                        <p>
                            At Enrich Coder, we're more than just a software company; we're your strategic technology partner. With a focus on innovation and a deep commitment to our clients, we offer a comprehensive suite of services that empower businesses to thrive in the digital age.
                        </p>
                        <p>
                            Our expertise spans across custom software development, Cloud web services, mobile app development, web design, and a wide array of IT solutions. What sets us apart is our seasoned team of professionals who have successfully tackled intricate projects in various industries, consistently exceeding client expectations.
                        </p>
                        <p>
                            When you choose Enrich Coder, you're choosing a partner who values your success above all else. Our dedication to delivering exceptional results, transparent pricing structures, and unparalleled customer service has made us a leader in our field.
                        </p>
                        <p>
                            Discover Enrich Coder and experience the difference of working with a team that is passionate about technology and driven by your success. About us – it's all about you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us End -->