@{
    ViewData["Title"] = "Weblink Communication Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Hero Section -->
@Html.Partial("Partial/_HeroSection")

@* <div class="text-center">   
    <br />
    <br />
    <p>Learn more about <a href="https://portal.weblinkltd.com/">Weblink CRM.</a>.</p>
</div>
 *@