@{
    ViewData["Title"] = "Weblink Communication Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Technology</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Technologies Start -->
<div class="container-xxl pt-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-5 mb-5">Technologies</h1>
            <p>Our teams love to find new ways to reduce complexity and accelerate delivery</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="h-100">
                        <div>
                            <h5 class="mb-0">Artificial Intelligence</h5>
                        </div>
                        <div class="py-3">
                            <div class="d-flex flex-wrap gap-2">
                                <a href="/technologies/openai-software-development" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3adcd0b2066975aa35a10_Screenshot_2023_01_29_at_21_11_13_6cbcf8487b.png" alt="" class="img-fluid" style="max-width: 32px;">
                                    ChatGPT
                                </a>
                                <a href="/technologies/retrieval-augmented-generation" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3ade3d33045311b427279_rag_93df9a662a.png" alt="" class="img-fluid" style="max-width: 32px;">
                                    RAG
                                </a>
                                <a href="/technologies/langchain" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3add2bb3e285b8438983e_download_1d29df41fc.jpeg" alt="" class="img-fluid" style="max-width: 32px;">
                                    LangChain
                                </a>
                                <a href="/technologies/large-language-models" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3add01ad2a796f8f2c94d_0f94b936_c2a3_4da7_a408_54484b30fcd8_927fc1178d.png" alt="" class="img-fluid" style="max-width: 32px;">
                                    Large Language Models
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="h-100">
                        <div>
                            <h5 class="mb-0">Artificial Intelligence</h5>
                        </div>
                        <div class="py-3">
                            <div class="d-flex flex-wrap gap-2">
                                <a href="/technologies/openai-software-development" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3adcd0b2066975aa35a10_Screenshot_2023_01_29_at_21_11_13_6cbcf8487b.png" alt="" class="img-fluid" style="max-width: 32px;">
                                    ChatGPT
                                </a>
                                <a href="/technologies/retrieval-augmented-generation" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3ade3d33045311b427279_rag_93df9a662a.png" alt="" class="img-fluid" style="max-width: 32px;">
                                    RAG
                                </a>
                                <a href="/technologies/langchain" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3add2bb3e285b8438983e_download_1d29df41fc.jpeg" alt="" class="img-fluid" style="max-width: 32px;">
                                    LangChain
                                </a>
                                <a href="/technologies/large-language-models" class="btn btn-outline-primary d-flex align-items-center gap-2">
                                    <img src="https://cdn.prod.website-files.com/669eb1086f08fffc3efda56e/66b3add01ad2a796f8f2c94d_0f94b936_c2a3_4da7_a408_54484b30fcd8_927fc1178d.png" alt="" class="img-fluid" style="max-width: 32px;">
                                    Large Language Models
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
<!-- Technologies End -->