@{
    ViewData["Title"] = "Enrich Coder Admin Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Enrich Coder Admin Panel</h2>
<div class="row w-10000">
    @* <div class="col-lg-7">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Recent Blogs</div>
            <div class="card-footer">
                <h3>0</h3> <!-- Later, fetch from DB -->
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Recent Updates</div>
            <div class="card-footer">
                <h3>0</h3> <!-- Later, fetch from DB -->
            </div>
        </div>
    </div> *@
</div>


