@{
    ViewData["Title"] = "Weblink Communication Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Enrich Coder</h1>
    <br />
    <br />
    <p>Learn more about <a href="https://portal.weblinkltd.com/">Weblink CRM.</a>.</p>
</div>
